body {
	margin: 0;
	font-family: arial, sans-serif;
	background-color: white;
	color: #668;
	overflow-x: hidden;
}

nav {
	display: inline-block;
}
.navbar.navbar-inverse {
	background-color: #e7e7e7;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 1em;
	line-height: 20px;
}

nav .nav-brand a {
	color: black;
}

.nav.navbar-nav {
	text-decoration: none;
	font-size: 1em;
	padding: 0 25px;
	float: right;
}

#myNavbar li a {
	color: #667;
}

header {
	position: relative;
	text-align: center;
	height: 700px;
	background-color: #667;
}

header h1 {
	color: white;
	text-align: center;
	padding-top: 90px;
	text-shadow: 2px 2px black;
	font-weight: 700;
}

header p {
	color: white;
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
	font-size: medium; 
	text-shadow: 2px 2px black;

}

.divider {
	border-bottom: 1px solid;
	width: 500px;
	margin: 20px auto;
	color: white;
	padding-bottom: 10px;
}

.btn-danger {
	background-color: #F1433F;
	border-color: #ccc;
}


.spacer {
	padding-bottom: 20px;
}
.container {
	font-size: 14px;
}
.container h2 {
	font-weight: bold;
	padding-left: 15px;
}

.first, .second, .third {
	padding: 20px 50px;
	border-bottom: 2px solid #F8F8F8;
}

#about {
	background-color: white;
	padding-top: 20px;
} 
#about img {
	max-width: 100%;
}

.services  {
	background-color: #D3D3D3;
	padding: 20px;
}

.services img {
	max-width: 100%;
}

.line {
	border-bottom: 2px solid #606060;
	width: 300px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-left: 10px;
}

#one {
	padding-right: 10px;
}

#list {
	padding-top: 20px;
}

.col-md-3 ul {
	/*margin-left: 10px;*/
	padding-top: 10px;
}

.contact {
	background-color: #2e2e1f;
	color: white;
	padding-top: 20px;
	/*height: 400px;*/
	max-height: 100%;
	padding-bottom: 20px;
}

#map {
	max-width: 100%;
}

#contact-text h3 {
	font-weight: bold;
	font-size: 3em;
}

#contact-text {
	text-align: left;
	font-size: 1em;
}

footer {
	background-color: white;
	color: #2e2e1f;
	text-align: center;
	font-size: 1em;
	padding-top: 20px;
}


