body {
	margin: 0;
	font-family: "Lato", arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

nav {
	display: inline-block;
}

.navbar.navbar-default {
	background-color: #f8f8f8;
	font-weight: 700;
	height: 50px;
}

.navbar-default .navbar-brand {
	float: left;
	font-size: 18px;
	color: #777;
	font-weight: 700;
}

.nav.navbar-nav {
	text-decoration: none;
	font-size: 1em;
	float: left;
}
.navbar li a {
	color: #777;
	display: block;
	font-weight: 700;
}

@media (min-width: 768px;){
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header){
		margin-right: 105px;
		margin-left: 145px;
}

}

header {
	background-image: url(http://derringibbs.com/img/industrial-hero-2.jpg);
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
}

@media (min-width: 1053px) {
	header {
		background-size: 100% auto;
	}
}

header h1 {
	color: white;
	text-align: center;
	padding-top: 30vh;
	text-shadow: 3px 3px 4px #000;
	font-weight: 700;
	font-size: 4em;
}

header h3 {
	color: white;
	text-align: center;
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 24px; 
	text-shadow: 3px 3px 4px #000;

}

.divider {
	border-bottom: 1.5px solid white;
	width: 350px;
	margin: 0px auto 35px auto;
	color: white;
	padding-bottom: 10px;
}

.btn-lg {
	padding: 5px 40px;
	font-size: 25px; 
}

.btn-danger {
	background-color: #f1433f;
	border-color: #ccc;
}
.spacer {
	padding-bottom: 20px;
}

.container {
	font-size: 14p
}
.container h2 {
	font-weight: bold;
	padding-left: 15px;
}

.first, .second, .third {
	padding: 20px 50px;
	border-bottom: 2px solid #F8F8F8;
}

#about {
	background-color: white;
	padding-top: 20px;
}

#about h3 {
	font-size: 30px;
	font-family: "Lato", Helvetica, arial, sans-serif;
	font-weight: 700;
	padding-bottom: 15px;
} 

#about p {
	font-size: 16px;
}

#about img {
	max-width: 100%;
}

.services  {
	background-color: #F8F8F8;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 25px;
}

.services img {
	max-width: 100%;
}

.line {
	border-bottom: 3px solid #C4C0B8;
	margin-bottom: 10px;
	margin-top: 10px;
}

@media (max-width: 990px) {
	.line {
		margin: 10px 0;
		margin-right: 200px;
	}
}

 .row1 ul, .row2 ul{
	list-style: none;
}

.contact {
	background-color: #404040;
	padding: 30px 0;
}

#map {
	max-width: 100%;
}

#contact-text h3 {
	font-size: 3em;
	color: white;
}

#contact-text {
	text-align: left;
	font-size: 1em;
	color: white;
}

footer {
	background-color:#F8F8F8;
	text-align: center;
	font-size: 1em;
	padding-top: 20px;
}


